.outFrame{
  text-align: center;
}
#campasLocation{
  margin-left: 25px;
}
#campasLocation h5{
  margin-top: 5px;
  font-size: 25px;
}
#campasLocation iframe{
  width: 90%;
  border-radius: 10px;
}

/* スマホ対応〜 */
@media screen and (max-width: 768px) {
  #campasLocation iframe{
    height: 150px;
  }
  #campasLocation h5{
    margin-top: 5px;
    font-size: 10px;
  }
}

#location{
  width: 100%;
  text-align: center;
}
