/* 親要素の判定無効にして子要素のを有効にすると親要素のhover判定が子要素のとこの分になる(らしい) */
.nav-item{
  pointer-events: none;
}
.nav-link {
  pointer-events: auto;
}

/* 今いる場所に下線的なのを。 */
.nav-item.active {
  border-bottom: solid 2px black;
}
.nav-item.active:hover {
  border-color: #003399;
}

/* ドロップダウン系 */
.hasDropDown div{
  display: flex;
}
.dropDown {
  position: absolute;
  list-style: none;
  padding: 0;
  width: 150px;
}
.dropDownButton{
  pointer-events: all;
  color: black;
  background: none;
  border: none;
  pointer-events: auto;
}
.nav-item.active:hover .dropDownButton{
  color: #003399;
}
.dropDownButton:hover {
  color: #003399;
}
.dropDownButton:focus{
  outline: none;
}
.dropDown-item {
  pointer-events: all;
  background-color: rgba(216, 216, 216, 0.1);
  border: 1px rgb(200, 200, 200) solid;
  height: 30px;
}
.dropDown-item a{
  margin: auto;
  margin-left: 6px;
  text-decoration: none;
  color: black;
}

/* 色〜 */
.navbar{
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  width: 100%;
  top: 0px;
}
.navbar-dark .navbar-nav .nav-link{
  color: black;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #003399;
}
.navbar-dark .navbar-brand {
    color: black;
}