/* 親要素の判定無効にして子要素のを有効にすると親要素のhover判定が子要素のとこの分になる(らしい) */
.nav-item{
  pointer-events: none;
  background-color: none;
  z-index: 10;
}
.nav-link {
  pointer-events: auto;
}

/* 今いる場所に下線的なのを。 */
.nav-item.active {
  border-bottom: solid 2px black;
}
.nav-item.active:hover {
  border-color: #003399;
}

/* ドロップダウン系 */
.hasDropDown div{
  display: flex;
}
.dropDown {
  position: absolute;
  list-style: none;
  padding: 0;
  width: 150px;
}
.dropDownButton{
  pointer-events: all;
  color: black;
  background: none;
  border: none;
  pointer-events: auto;
}
.nav-item.active:hover .dropDownButton{
  color: #003399;
}
.dropDownButton:hover {
  color: #003399;
}
.dropDownButton:focus{
  outline: none;
}
.dropDown-item {
  pointer-events: all;
  background-color: rgba(216, 216, 216, 0.1);
  border: 1px rgb(200, 200, 200) solid;
  height: 30px;
}
.dropDown-item a{
  margin: auto;
  margin-left: 6px;
  text-decoration: none;
  color: black;
}

/* 色〜 */
.navbar{
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  width: 100%;
  top: 0px;
}
.navbar-dark .navbar-nav .nav-link{
  color: black;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #003399;
}
.navbar-dark .navbar-brand {
    color: black;
}

.navbar-dark .navbar-brand:hover {
  color: #003399;
}
/* navbar-darkを外さずに改造したものの末路 */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28000, 000, 000, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  color: rgba(0,0,0,.55);
}
.navbar-dark .navbar-toggler {
  color: rgba(0,0,0,.55);
  border-color: rgba(0,0,0,.1);
}


@media screen and (max-width: 575px) {
  .nav-item{
    background-color: rgb(255,255,255,0.9);
  }  
}