body {
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";;
}

.outFrame {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}


/* 雑にだけどスマホ対応〜 */
@media screen and (max-width: 768px) {
  .outFrame {
    width: 90%;
    margin-top: 10px;
  }
}

/* 謎用のpoup関連 */
#questionPopup {
  text-align: center;
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.288);
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
#questionPopup.active{
  display: flex;
}
#questionPopup img{
  width: 80%;
}

#qContent{
  background: #fff;
  padding: 5px;
  width: 50%;
}
#qTitle{
  font-weight: bold;
  font-size: 30px;
}
#hintButton{
  cursor: pointer;
}
#questionPopup.corrected #hintButton{
  display: none;
}
#hint{
  display: none;
}
#hint.active{
  display: block;
}
#questionPopup.corrected #hint{
  display: none;
}
#questionPopup.corrected #answerButton{
  display: none;
}
#questionPopup.corrected #answerInput{
  display: none;
}
/* 背景系〜 */
#backGround{
  background-image: url("../images/backgroundImage.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  width: 100%;
  height:100vh;
  
  position: fixed;
  z-index: -3;
}

.circles{
  background-attachment: fixed;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 28, 28, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}


@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
