/*1.フェードインアニメーションの指定*/
.scrollanime { /* 一瞬表示されるのを防ぐ */
  opacity: 0;
} 
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;    
        transform: translateY(100px);     
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}

 
/*2.上下の動きを指定*/
.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}
 
/*3.左右の動きを指定*/
.sect02{overflow: hidden;} /*横スクロールバーを隠す*/
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}



body {
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: #003399;
}
.outFrame {
  width: 90%;
  margin: auto;
  padding-top: 80px;
}


/* 大見出し */

.bigTitle{
  z-index: 2;
  text-align: center;
  color: black;
  position: relative;
  font-size: 25px;
}

.underline{
  border-bottom: 2px black solid;
  width: 10%;
  margin: auto;
}

.popHideText{
  display: inline-flex;
}
/* 文字とか震えるアニメーション */
.effectAlpha{
  opacity: 0;
}
.effectTop{
  clip-path: polygon(
    0% 60%,
    100% 50%,
    100% 0%,
    0% 0%
  );
  position: absolute;
  animation: topGlitch 5s steps(1) infinite;
}
.effectBottom{
  clip-path: polygon(
    0% 60%,
    100% 50%,
    100% 100%,
    0% 100%
  );
  position: absolute;
  animation: bottomGlitch 5s steps(1) infinite;

}
.popupButton {
  cursor: pointer;
  display: inline-flex;
}


.madeFrom{
  float: right;
}

@keyframes topGlitch {
  0%{transform: translate(0px,0px);}
  10%{transform: translate(-2px,-1px);}
  15%{transform: translate(0px,0px);}
  100%{transform: translate(0px,0px);}
}

@keyframes bottomGlitch {
  0%{transform: translate(0px,0px);}
  60%{transform: translate(0px,3px);}
  65%{transform: translate(0px,0px);}
  100%{transform: translate(0px,0px);}
}

@keyframes topBackGlitch {
  0%{transform: translate(0px,0px); border-radius: 0%;}
  1.9999%{transform: translate(0px,0px);}
  2%{transform: translate(-2px,-1px);}
  2.9999%{transform: translate(-2px,-1px);}
  3%{transform: translate(0px,0px);}
  21.9999%{transform: translate(0px,0px);}
  22%{transform: translate(-2px,-1px);}
  22.9999%{transform: translate(-2px,-1px);}
  23%{transform: translate(0px,0px);}
  41.9999%{transform: translate(0px,0px);}
  42%{transform: translate(-2px,-1px);}
  42.9999%{transform: translate(-2px,-1px);}
  43%{transform: translate(0px,0px);}
  63%{transform: translate(0px,0px);}
  61.9999%{transform: translate(0px,0px);}
  62%{transform: translate(-2px,-1px);}
  62.9999%{transform: translate(-2px,-1px);}
  63%{transform: translate(0px,0px);}
  23%{transform: translate(0px,0px);}
  81.9999%{transform: translate(0px,0px);}
  82%{transform: translate(-2px,-1px);}
  82.9999%{transform: translate(-2px,-1px);}
  83%{transform: translate(0px,0px);}
  100%{transform: translate(0px,0px); border-radius: 50%;}
}

@keyframes bottomBackGlitch {
  0%{transform: translate(0px,0px); border-radius: 0%;}
  11.9999%{transform: translate(0px,0px);}
  12%{transform: translate(0px,3px);}
  12.9999%{transform: translate(0px,3px);}
  13%{transform: translate(0px,0px);}
  31.9999%{transform: translate(0px,0px);}
  32%{transform: translate(0px,3px);}
  32.9999%{transform: translate(0px,3px);}
  33%{transform: translate(0px,0px);}
  51.9999%{transform: translate(0px,0px);}
  52%{transform: translate(0px,3px);}
  52.9999%{transform: translate(0px,3px);}
  53%{transform: translate(0px,0px);}
  71.9999%{transform: translate(0px,0px);}
  72%{transform: translate(0px,3px);}
  72.9999%{transform: translate(0px,3px);}
  73%{transform: translate(0px,0px);}
  91.9999%{transform: translate(0px,0px);}
  92%{transform: translate(0px,3px);}
  92.9999%{transform: translate(0px,3px);}
  93%{transform: translate(0px,0px);}
  100%{transform: translate(0px,0px); border-radius: 50%;}
}
/* 雑にだけどスマホ対応〜 */
@media screen and (max-width: 768px) {
  
  .bigTitle{
    padding-right: 200px;
    padding: 0;
  }
  .bigTitle span{
    transform: translateY(-16px);
    font-size: 20px;
  }
}

/* 謎用のpoup関連 */
#questionPopup {
  text-align: center;
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.288);
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
#questionPopup.active{
  display: flex;
}
#questionPopup img{
  width: 80%;
  margin: 15px 0 15px
 0;
}

#qContent{
  background: #fff;
  padding: 5px;
  width: 50%;
  border-radius: 10px;
  position: relative;
}
#qTitle{
  font-weight: bold;
  font-size: 30px;
}
#hint1Button{
  cursor: pointer;
}
#hint2Button{
  cursor: pointer;
}
#questionPopup.corrected #hint1Button{
  display: none;
}

#questionPopup.corrected #hint2Button{
  display: none;
}
#answerButton {
  background-color: #000000;
  color: #FFFFFF;
  
  outline: none;
}
#resultErea{
  color: #ff007f;
}
#qPopupClose {
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  position: absolute;
  border: rgb(187, 187, 187) 3px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 0 0 auto;
}
 
#qPopupClose::before, #qPopupClose::after { /* 共通設定 */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px; /* 棒の幅（太さ） */
  height: 30px; /* 棒の高さ */
  background: #333;
}
 
#qPopupClose::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
#qPopupClose::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}
.hintText{
  display: none;
}
.hintText.active{
  display: block;
}
#hint2{
  display: none;
}
#hint2.active{
  display: block;
}
#questionPopup.corrected #hint1{
  display: none;
}
#questionPopup.corrected #hint2{
  display: none;
}
#questionPopup.corrected #answerButton{
  display: none;
}
#questionPopup.corrected #answerInput{
  display: none;
}

#questionPopup.corrected #resultErea{
  color: #a6d3c8;
}

@media screen and (max-width: 425px) {
  #qContent{
    width: 90%;
  }
}

/* 背景系〜 */
#backGround{
  background-image: url("../images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  width: 100%;
  height:100%;
  
  position: fixed;
  z-index: -3;
}

#waveCanvas{
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.circles{
  background-attachment: fixed;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #ff007f;
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  background-color: rgba(0, 0, 0, 0);
}
.circles li .popupButton {
  position: absolute;
}

.circles li:nth-child(3) span:nth-child(1){
  left: 70%;
  width: 20px;
  height: 20px;
  opacity: 1;
  position: absolute;
  clip-path: polygon( 0% 60%, 100% 50%, 100% 0%, 0% 0% );
  animation: topBackGlitch 25s linear infinite;
  animation-delay: 4s;

  background: #ff007f;
}
.circles li:nth-child(3) span:nth-child(2){
  left: 70%;
  width: 20px;
  height: 20px;
  opacity: 1;
  position: absolute;
  clip-path: polygon( 0% 100%, 0% 60%, 100% 50%, 100% 100% );
  animation: bottomBackGlitch 25s linear infinite; 
  animation-delay: 4s;

  background: #ff007f;
}
/*
.circles li:nth-child(4){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  clip-path: polygon( 0% 100%, 0% 60%, 100% 50%, 100% 100% );
}*/

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}


@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
