
#topImage{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
#topImage > img{
  width: 100%;
}
#topImageForPC{
  display: block;
}
#topImageForPhone{
  display: none;
}

.outFrame{
  padding-top: 0px;
}

.linkFrames{
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.bigLink{
  z-index: 2;
  position: relative;
  font-size: 25px;
  transform: translateY(-6px);
}
.underline{
  border-bottom: 2px black solid;
  width: 10%;
  margin: auto;
}
.bigLink:hover .underline{
  border-color: #003399;
}
.detailFrame{
  position: relative;
  z-index: 1;
  height: 280px;
  margin-top: 10px;
}
#campasLink iframe{
  margin-top: 10px;
  border-radius: 10px;
  width:100%;
  height:100%;
}

.detailFrame > a{
  position: absolute;
  bottom: 0px;
  right: 10px;
  text-decoration: none;
}

#seeing{
  height: 300px;
}
.randomProject {
  text-align: center;
  width : 250px;
  height: 250px;
  margin: auto;
  padding: 5px;
  display: inline-block;
}

.randomProject img{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  vertical-align: bottom;
}
.randomProject a{
  text-decoration: none;
  color: black;
  position: absolute;
  font-weight: 50px;
}
.nowProject {
  text-align: center;
  width : 200px;
  height: 200px;
  margin: auto;
  margin-top: 20px;
  display: inline-block;
}

.nowProject img{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  vertical-align: bottom;
}

#aboutNazotoki{
  text-align: center;
  margin-top: 50px;
  color: rgb(255, 113, 137);
}
#remainingText{
  margin-bottom: 0.5rem;
}
#remainingText h5{
  display: inline-flex;
}
.remainingNumb{
  color:#ff007f;
  margin: 10px;
}

/* スマホ対応〜 */

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 425px) {
  #topImageForPC{
    display: none;
  }
  #topImageForPhone{
    display: block;
  }
  .detailFrame{
    height: 880px;
    margin: -5px 10px 0px 10px;
  }
  #seeing{
    height: 225px;
  }
  .sliderList{
    height: 200px;
  }
  .sliderItem{
    margin: auto;
  }
  #proNInfo{
    height: 245px;
  }
  #infoTitle{
    font-size: 15px;
  }
  #infoForPC{
    display: none;
  }
  #infoForPhone{
    display: block;
  }
  #aboutNazotoki h5{
    font-size: 12px;
    margin-bottom: 2px;
  }
  #aboutNazotoki{
    margin-top: 15px;
    color: rgb(255, 113, 137);
  }
  #remainingText{
    margin-bottom: 2px;
  }
  
  .remainingNumb{
    margin: 5px;
  }
}


#finish{
  display: none;
}
#finish.active{
  display: block;
}