#projectsList{
  text-align: center;
}
.projectLink{
  width: 250px;
    height: 272px;
    margin: 5px;
  display: inline-block;
}
.projectImage{
  width : 90%;
  transform: translate(0,-10%);
  box-shadow: 12px 12px 2px 1px pink;
}
.projectLink h5 {
  text-align: left;
  width: 90%;
  display: inline-block;
  position: relative;
  line-height: 40px;
  font-size: 20px;
  z-index: 1;
  padding: 5px 5px 5px 15px;
  color: #fff;
  border-radius: 0 100vh 100vh 0;
  background: #a6d3c8;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

  .projectLink h5:before {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    content: '';
    border-top: 10px solid rgb(149, 158, 155);
    border-left: 10px solid transparent;
  }