.imageArea{
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
.imageArea img{
  max-height: 750px;
  max-width: 100%;
  margin: auto;
}

.veryBigTitle{
  z-index: 2;
  text-align: center;
  color: black;
  position: relative;
  font-size: 30px;  
}

.subArea{
  text-align: center;
  margin-top: 20px;
  width: 100%;
  word-break: break-word;
  margin: auto;
}

.subArea img{
  max-height: 650px;
  max-width: 90%;
}
.subArea h6{
  font-size: 25px;
}
.picturesArea{
  width: 90%;
  margin: auto;  
}
.infoArea{
  width: 90%;
  margin: auto;
}
img{
  margin: auto;
}

.picturesArea{
  margin-top: 40px;
}

.topMargin{
  margin-top: 30px;
}

video{
  width: 100%;
}