.skeduler-container {
  margin: 10px 0 0 30px;
  width: 866px;
  height: 600px;
  overflow: scroll;
}

#headerSelect{
  margin: 0 0 0 30px
}
#timeLine{
  position : absolute;
  border-bottom: solid 2px orange;
  width: 803px;
}

/* 雑にだけどスマホ対応〜 */
@media screen and (max-width: 768px) {
  .skeduler-container {
    margin: 0 0 0 20px;
    width: 270px;
    height: 560px;
  }
  
  #headerSelect{
    margin: 0 0 0 20px
  }
}

.projectTitle{
  font-weight: bold;
}