.skeduler-container {
  width: 688px;
  height: 650px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#headerSelect{
  margin: 0 0 0 30px
}
.scheduler-header{
  border-right: 1px solid rgb(154, 173, 204);
}
.scheduler-main-colum{
  border-left: 1px solid rgb(154, 173, 204);
  width: 200px;
}
#linkArea{
  text-align: center;
}
#linkArea a{
  color: skyblue;
  text-decoration: underline;
}
#timeLine{
  position : absolute;
  border-bottom: solid 2px orange;
  width: 402px;
}
.projectLink{
  position: absolute;
  bottom: 2px;
  right: 10px;
  display: none;
}
.skeduler-main-body > div > .skeduler-task-placeholder > div:hover .projectLink.having{
  display: block;
  color: white;
}

.skeduler-main-body > div > .skeduler-task-placeholder > div:hover .projectLink:hover{
  color: #003399;
}

.skeduler-container.onlyConstant{
  width: 202px;
}
.skeduler-container.onlyConstant .skeduler-headers{
  padding: 0;
}
.skeduler-container.onlyConstant .skeduler-main-timeline{
  display: none;
}
.skeduler-container.onlyConstant #timeLine{
  display: none;
}

.projectTitle{
  font-weight: bold;
  transform: translate(0px, -10px);
}

.skeduler-main-body > div > .skeduler-task-placeholder > div:hover .projectTitle{
  transform: translate(0px, 0px);  
}



/* 雑にだけどスマホ対応〜 */
@media screen and (max-width: 768px) {
  .skeduler-container {
    width: 270px;
    height: 650px;
    margin: auto;
    margin-top: 20px;
  }
  
  #headerSelect{
    margin: 0 0 0 20px
  }
  #timeLine{
    width: 201px;
  }
}


#title{
  width: 100%;
  text-align: center;
}
