.skeduler-container {
  width: 866px;
  height: 600px;
  overflow: scroll;
  margin: auto;
  margin-top: 20px;
}

#headerSelect{
  margin: 0 0 0 30px
}
#timeLine{
  position : absolute;
  border-bottom: solid 2px orange;
  width: 402px;
}
.projectLink{
  position: absolute;
  bottom: 2px;
  right: 10px;
  display: none;
}
.skeduler-main-body > div > .skeduler-task-placeholder > div:hover .projectLink{
  display: block;
  color: white;
}

.skeduler-main-body > div > .skeduler-task-placeholder > div:hover .projectLink:hover{
  color: #003399;
}
/* 雑にだけどスマホ対応〜 */
@media screen and (max-width: 768px) {
  .skeduler-container {
    width: 270px;
    height: 560px;
    margin: auto;
    margin-top: 20px;
  }
  
  #headerSelect{
    margin: 0 0 0 20px
  }
}

.projectTitle{
  font-weight: bold;
}

#title{
  width: 100%;
  text-align: center;
}
